h1 {

    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 60px;
    
}

h2 {

    text-align: center;
    font-family: Helvetica, sans-serif;
    
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

p {
    font-family: Helvetica, sans-serif;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width: 800px;
}

a {

    text-align: center;
    
}
