body{
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    background-color: black;
    padding: 10px;
}

li {
    display: inline;
}

li a {
    text-decoration: nonr;
    color: white;
    padding: 10px 30px;
}

li a:hover{
    background-color: darkslategray;
}

li a:active { 
    background-color: white;
    color: black 
}