/* Colors! */

:root{
/* We don't have to use all these,
just the ones we like. */
--vanilla:#FFF3B0;
--hunyadiYellow:#E09F3E;
--auburn:#9E2A2B;

--prettyLightBlue: #43978D;

/* To use color, place color with:
var(--prettyBlue); */
}


/* media query for bigger screens */

@media screen and (min-width: 1500px)
{
    /* main styling */
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;      
    }
    /* header styling */
    h1 { 
        font-family: "Playfair Display", serif;
        text-align: center;
        font-size: 80px;
        color: var(--vanilla);
    }
    
    
    
    h2 {
        font-family: "Playfair Display", serif;
        text-align: center;
        color:var(--auburn);
    
    }
    
    h3 {
        font-family: "Playfair Display", serif;
        color:var(--prettyLightBlue);
    
    }
    
    /* paragraph styling, made font size bigger */
    p {
        font-family: Helvetica, sans-serif;
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        /* width: 800px; */
        color: white;
        font-size: 18px;
    }
    
    a {
    
        text-align: center;
        color: rgb(70, 157, 227);
    }
    
    /*making background color black*/
    body {background-color: black;}

    /* navbar styling */
    nav a{
        color:white;
    }

    /* to make the navigation bar black */
    .navbar-color {
        background-color: black;
    }
    
    
    /* .navbar-color {
        background-color: var(--yellow);
        border-style: solid;
        border-width: 3px;
        
        border-color: var(--chocolateCosmos);
    }
    
    .navbar-brand-color {
        display:flex;
        justify-content: left;
        padding-right: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: var(--blackBean);
    }
    
    .navbar-toggler {
        background-color: var(--blackBean);
    }
    
    .nav-link-reference {
        display: flex;
        color: var(--blackBean);
        justify-content: center;
        padding: 5px;
    } */
    
    /* adding a transparent dark background around the header on the parallax image so that it's more visible */
    .forbettervisibility {
        background-color: rgb(0, 0, 0, .7);
        padding-left: 10px;
        padding-right: 10px;
    }
    
    /* Parallax tings */
    .parallax {
        /* The image used */
        background-image: url(../images/FY24-Season-Header-Dragon-1920x400-2.jpg);
    
        
      
        /* Set a specific height */
        min-height: 300px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        
      }
    
      .parallax-text {
        position: absolute; /* Fix the text inside the parallax */
        top: 40%; /* Adjust positioning */
        left: 50%;
        transform: translate(-50%, -50%); /* Center the text */
        /* color: white; */
        text-align: center;
        font-family: Helvetica, sans-serif;
    }

    /* parallax image at the bottom of the screen */
    
    .BottomIMG{
        /* Image used */
        background-image: url(../images/carolyn-kunicki-river-1920x600-1-1024x320.jpg);
    
        /* Set a specific height */
        min-height: 500px; 
        
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        
    }
}

/* media query for smaller screens */
/* text will be aligned to the left on smaller screens! */
@media screen and (max-width: 1500px)
{
    /* body styling */
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-style: normal;      
    }
    
    /* header styling, should be in playfair display and differing colors */
    h1 { 
        font-family: "Playfair Display", serif;
        text-align: center;
        font-size: 80px;
        color: var(--vanilla);
    }
    
    
    
    h2 {
        font-family: "Playfair Display", serif;
        text-align: left;
        color:var(--auburn);
    
    }
    
    h3 {
        font-family: "Playfair Display", serif;
        color:var(--prettyLightBlue);
        
    
    }
    
    /* paragraph styling */
    p {
        font-family: Helvetica, sans-serif;
        margin-left:auto;
        margin-right:auto;
        text-align:left;
        /* width: 800px; */
        color: white;
        font-size: 18px;
    }
    
    a {
    
        text-align: center;
        color: rgb(70, 157, 227);
    }
    
    /*Setting the background color to black*/ 
    body {background-color: black;}
    

    /* navbar styling */
    nav a{
        color:white;
    }

    .navbar-color {
        background-color: black;

    }
    
    .nav-link {
        color: white;
    }
    /*
    .navbar-brand-color {
        display:flex;
        justify-content: left;
        padding-right: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: var(--blackBean);
    }
    
    .navbar-toggler {
        background-color: var(--blackBean);
    }
    
    .nav-link-reference {
        display: flex;
        color: var(--blackBean);
        justify-content: center;
        padding: 5px;
    } */
    
    /* adding a transparent dark background around the header on the parallax image so that it's more visible */
    .forbettervisibility {
        background-color: rgb(0, 0, 0, .7);
        padding-left: 10px;
        padding-right: 10px;
    }
    
    /* Parallax tings */
    .parallax {
        /* The image used */
        background-image: url(../images/FY24-Season-Header-Dragon-1920x400-2.jpg);
    
        
      
        /* Set a specific height */
        min-height: 300px;
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        
      }
    
      .parallax-text {
        position: absolute; /* Fix the text inside the parallax */
        top: 40%; /* Adjust positioning */
        left: 50%;
        transform: translate(-50%, -50%); /* Center the text */
        /* color: white; */
        text-align: center;
        font-family: Helvetica, sans-serif;
    }
    
    /* parallax image for the bottom of the page */
    .BottomIMG{
        /* Image used */
        background-image: url(../images/carolyn-kunicki-river-1920x600-1-1024x320.jpg);
    
        /* Set a specific height */
        min-height: 300px; 
      
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        
    }
}