body {
    /* background-image: url('../../portfolio/images/macbg3.png'); */
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
#projects { 
    display: flex;
    flex-direction: column;
    margin: 0 20vw;
}

.project{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 15px 20px;
    background-color: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(5px); 
    width: 900px;
    min-height: 300px;
    border-radius: 25px;
    border: 2px solid transparent; 
    box-sizing: border-box;
    overflow: visible;
    color: white;
    transition: border-color 0.3s ease; 

    flex-wrap: wrap; 
    align-items: flex-start;
}

.project:hover {
    
    border-color:white;
}

.project img{
   width:20vw; 
   border-radius: 15px;

   flex-shrink: 0; 
    width: 20vw; 
    border-radius: 15px;
    margin-right: 20px; 
}

.project h2,
.project h3 {
    font-family: Helvetica, sans-serif;
    margin: 0; 
}

.project h2{
    margin-bottom: 5px;
    padding: 10px;
    font-size: 60px;
    font-family: "adapter-mono-pe-variable", sans-serif;
    font-variation-settings: "BORD" 300, "ital" 0, "slnt" 0, "wght" 400;
}

.project h3{
    margin-top: 0;
    padding: 10px;
    font-style: italic;
    font-family: "adapter-mono-pe-variable", sans-serif;
    font-variation-settings: "BORD" 300, "ital" 0, "slnt" 0, "wght" 200;
}

.project p{
    font-family: "adapter-mono-pe-variable", sans-serif;
    font-variation-settings: "BORD" 300, "ital" 0, "slnt" 0, "wght" 400;
    padding: 10px;

    flex: 1; 
    font-family: "adapter-mono-pe-variable", sans-serif;
    font-variation-settings: "BORD" 300, "ital" 0, "slnt" 0, "wght" 400;
    padding: 10px;
    word-wrap: break-word; 
}

#buttons {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    margin-bottom: 5px; 
    padding-left: 20vw; 
    margin-top: 10px;
}

#buttons button {
    background-color: transparent; 
    border: 2px solid white; 
    border-radius: 25px;
    color: white; 
    font-family: "adapter-mono-pe-variable", sans-serif;
    font-variation-settings: "BORD" 300, "ital" 0, "slnt" 0, "wght" 100;
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    margin: 10px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}


#buttons button:hover {
    background-color: rgba(255, 255, 255, 1); 
    color: black; 
}

.navbar{
    font-family: Helvetica, sans-serif;
}

.navbar-brand{
    font-weight: 700;
}

/* nav links */
.button-link {
    display: inline-block;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
    color: white;
    font-family: "adapter-mono-pe-variable", sans-serif;
    font-variation-settings: "BORD" 300, "ital" 0, "slnt" 0, "wght" 100;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 20vw;
    margin-top: 20vh;
}

.button-link:hover {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}